*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  h1{
    font-size: 36px;
    font-weight: 600;
  }
  h2{
    font-weight: 600;
    font-size: 14px;
  }
  h3{
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
  }
  h4{
    text-align: left;
    font-weight: 300;
    margin:0 0 30px 0;
  }
  h5{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px
  }
  h6{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
  }
  /********************** nav ************************/
.header {
    position: relative;
    width: 100%;
}
.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: transparent;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 185px;
}
.collapse:not(.show) {
    display: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.m-auto {
    margin: auto!important;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav-item .nav-link {
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    transition: 0.15s;
    text-decoration: none;
}
.nav-item .nav-link:hover {
    color: #FE4066;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
ul {
    list-style-type: disc;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}
a:-webkit-any-link:hover {
    color: #FE4066;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.dropdown-toggle:hover {
   display: block;
}
.navbar-scroll{
  background-color: #fff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0px 1px 10px rgba(0,0,0,0,4);
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

@media only screen and (min-width: 1200px){
    .nav-item > .nav-link {
        padding: 5px 20px !important;
        display: block !important;
    }
}
@media only screen and (max-width: 992px){
    .nav-item > .nav-link {
        color: black !important;
    }
    .logo{
        color: #000 !important;
        font-weight: 600 !important;
    }
}

@media (min-width: 992px){
    .pr-lg-5, .px-lg-5 {
        padding-right: 3rem!important;
    }
    .pl-lg-5, .px-lg-5 {
        padding-left: 3rem!important;
    }
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
  
  /********************** head-shape ************************/
  .back .overlay{
    background-image: linear-gradient(rgba(255, 255, 255, 0.733), rgba(180, 180, 180, 0.7),rgba(26, 26, 27, 0.7)),
                url(../imgproduct/67364.jpg);
    width: 100%;
    height: 100%;
  }
  .back{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .back .hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .back .hero-shape img{
    width: 100%;
    display: block;
  }
  .hero-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
  }
  .hero-text h6{
    color: #1d1d1d;
    text-align: center;
    font-weight: 400;
  }
  
  
  @media (max-width: 946px){
    .hero-text{
      width: 60%;
    }
    .hero-text h3{
      font-size: 33px;
    }
  }
  @media (max-width: 774px){
    .hero-text{
      top: 0%;
    }
  }
  
  @media (max-width: 541px){
    .hero-text{
      width: 100%;
      top: 10%;
    }
    .hero-text h3{
        font-size: 28px;
        line-height: 45px;
    }
  }
  /* nav */
  
  
  /********************** top-product ************************/
  .textbox h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .textbox p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .bg-light {
    background-color: #ffffff!important;
  }
  .py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
  div {
    display: block;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
    margin: auto;
    
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: auto;
   
  }
  .g-3, .gx-3 {
    --bs-gutter-x: 1rem;
  }
  .g-3, .gy-3 {
    --bs-gutter-y: 1rem;
  }
  
  .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
  }
  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  .bd-placeholder-img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
  .card-img, .card-img-bottom, .card-img-top {
    width: 100%;
  }
  img .card-img-top {
    vertical-align: middle;
  }
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  p .card-text {
    margin-top: 0;
    margin-bottom: 1rem; 
    display: block;
    margin: auto;
  }
  p{
    font-size: 15.5px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
  
  .btn .more{
    display: inline-block;
    padding: 6px 16px;
    background: #a80000;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    margin:20px auto;
  }
  .col {
    flex: 1 0 0%;
  }
  .row-cols-1>* {
    flex: 0 0 auto;
    width: 100%;
  }
  
  /* localrailway */
  .localrailway{
    width: 100%;
    background-image: linear-gradient(rgba(143, 143, 143, 0.7),rgba(88, 87, 87, 0.7), rgba(61, 61, 61, 0.7)),
      url(../imgproduct/Picture1.png);
      background-position: center;
      background-size: cover;
      position: relative;
      transition: .5s ease;
      color: white;
      margin: 2em 0em;
      height: 300px;
  }
  .col-img h1{
    font-size: 30px;
    font-weight: 500;
  }
  .col-text .local-text-box{
    margin-bottom: 20px;
  }
  .local-text-box{
    padding-top: 22px;
  }
  
  /********************** localproduct ************************/
  .row-local{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    }
  
  .col-img{
    display: flex;
    flex-direction: row;
    padding: 30px;
  }
  .col-img img{
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px auto;
    width: 100%;
  }
  .col-text{
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 30px;
    width: 550px;
  }
  .col-text h1{
    margin-bottom: 20px;
    font-weight: 500;
  }
  .col-text p{
    font-weight: 200;
    font-size: 14px;
    width: 550px;
  }
  
  
  /********************** hr ************************/
  hr:not([size]) {
    height: 1px;
  }
  .featurette-divider {
    margin: 2rem 5rem;
  
  }
  hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
  }
  hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }
  
  
  /********************** back-top ************************/
  #back-top {
    position: fixed;
    bottom: 15px;
    /*margin-left: -150px;*/
    right: 20px;
  }
  
  #back-top a {
    /*width: 60px;*/
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    /*text-transform: uppercase;*/
    text-decoration: none;
    color: black;
    font-weight:bold;
    opacity: 0.9;
  
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #back-top a:hover {
    color: #000;
  }
  
  /* arrow icon (span tag) */
  #back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
  margin-left: 5px;
    background: #ddd url(up-arrow.png) no-repeat center center;
  
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #back-top a:hover span {
    background-color: #3d3d3d;
  }
  #back-top img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  }
  
  
  /********************** footer ************************/
  
  footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 50px 30px;
    color: #fff;
    background-color: #2e2e2e;
    z-index: -5;
  }
  .footer > *{
    flex: 1 100%;
  }
  .footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  .footer-logo {
    width: 60%;
  }
  .footer-socotec{
    width: 55%;
    margin: 15px;
  }
  .footer ul{
    list-style: none;
    padding-left: 0;
  }
  .footer li{
    line-height: 2em;
  }
  .footer a{
    text-decoration: none;
  }
  .footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
  }
  .footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
  }
  .box a{
    color: #999;
  }
  .footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 30px;
  }
  @media(min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
  }
  
  
  
  /********************** responsive ************************/
  @media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
  }
  }
  
  @media (max-width:1050px){
    .col-text p{
      width: 500px;
    }
  }
  
  @media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
    /* Caption text */
  
    }
    @media (max-width:992px){
      .row, .row-local {
        flex-wrap: wrap;
      }
      .col-text{
        padding-left: 20px;
        margin: 0px 0px;
      }
    }
    
    @media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
    .row-cols-md-3>* {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
    }
    @media (max-width:768px){
      .col-text,.col-text p{
        width: 500px;
        padding-left: 0px;
      }
    }
  
    @media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
    }
    .row-cols-sm-2>* {
      flex: 0 0 auto;
      width: 50%;
    }
    }
    @media (max-width:576px){
      .col-text,.col-text p{
        width: 450px;
      }
    }
  
    @media (max-width:496px){
      .col-text,.col-text p{
        width: 90%;
      }
      
    }
    