@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&diaplay=swap');
* {
    margin: 0;
    padding: 0;
   }
*:before,*:after{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }

/* nav */
a{
  text-decoration: none;
}
li{
  list-style: none;
}
h3{
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}
h6{
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  margin-top: 16px;
  font-weight: normal;
}

/********************** nav ************************/
.nav{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 6.5rem;
  background: transparent;
  transition: all 0.5s ease;
  z-index: 100000;
}
.nav.scrolled{
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-sizing: 7px 10px 15px rgba(0,0,0,0.3);
}
.nav .navbar-toggler{
  display: none;
  border: none;
  outline: none;
}
.nav .navbar-toggler .toggler-icon{
  width: 27px;
  height: 3px;
  background-color: #121212;
  margin: 5px 0;
  position: relative;
  display: block;
  transition: all 0.3s ease-out 0s;
}
.nav .menu-bar .menu-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .menu-bar .menu-item li{
  margin: 0 15px;
}
.nav .menu-bar .menu-item li a{
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.nav .menu-bar .menu-item li a:hover{
  color: #a80000;
}


/********************** head-shape ************************/
.back{
  width: 100%;
  height: 0vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.back .hero-shape{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.back .hero-shape img{
  width: 100%;
  display: block;
}
@media (max-width: 946px){
  .nav{
      padding: 1rem 1rem;
  }
}
@media (max-width: 774px){
  .nav{
      padding: 0.7rem 1rem;
  }
  .nav .navbar-toggler{
      display: block;
      position: absolute;
      top: 26px;
      right: 16px;
      z-index:  1000000;
      cursor: pointer;
  }
  .nav .menu-bar {
      position: fixed;
      top: 55px;
      width: 300px;
      right: -360px;
      height: 100vh;
      background-color: rgba(256, 256, 256,0.9);
      transition: all 0.6s ease;
  }
  .nav .menu-bar .menu-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: justify;
      padding: 40px 0;
  }
  .nav .menu-bar .menu-item li{
      margin: 2rem 30px;
  }
}
/* nav */

/* Product */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-top: 0%;

}
.mySlides img{
  width: 100%;
  height: 100%;
}
/* Caption text */
.text {
  color: #ffffff;
  position: absolute;
  top: 120px;
  width: 35%;
  right: 80px;
}
.mySlides .text .hp{
  font-size: 2em;
}
.mySlides .text .tp{
  font-size: 1em;
  color: #ff0000;
  padding-top: 0px;
}
.mySlides .text .datahp{
  font-size: 0.66em;
  padding-right: 15px;
  padding-top: 10px;
}


/* Product */
.bg-light {
  background-color: #f8f9fa!important;
}
.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}
div {
  display: block;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.g-3, .gx-3 {
  --bs-gutter-x: 1rem;
}
.g-3, .gy-3 {
  --bs-gutter-y: 1rem;
}
.row-cols-1>* {
  flex: 0 0 auto;
  width: 100%;
}
.col {
  flex: 1 0 0%;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.card-img, .card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
}
img .card-img-top {
  vertical-align: middle;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
p .card-text {
  margin-top: 0;
  margin-bottom: 1rem;
}
p .card-text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.btn .more{
  display: inline-block;
  margin-top: 10px;
  padding: 6px 16px;
  background: #a80000;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  margin-left: 70px;
}


@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
  }
  @media (min-width: 768px){
  .container, .container-md, .container-sm {
      max-width: 720px;
  }
  .row-cols-md-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  }
  @media (min-width: 576px){
  .container, .container-sm {
      max-width: 540px;
  }
  .row-cols-sm-2>* {
    flex: 0 0 auto;
    width: 50%;
  }
  }
  