@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&diaplay=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
 
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h3{
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}
h6{
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
    font-weight: normal;
}

/********************** nav ************************/
.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 100000;
}
.nav.scrolled{
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-sizing: 7px 10px 15px rgba(0,0,0,0.3);
}
.nav .navbar-toggler{
    display: none;
    border: none;
    outline: none;
}
.nav .navbar-toggler .toggler-icon{
    width: 27px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0;
    position: relative;
    display: block;
    transition: all 0.3s ease-out 0s;
}
.nav .menu-bar .menu-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav .menu-bar .menu-item li{
    margin: 0 15px;
}
.nav .menu-bar .menu-item li a{
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.nav .menu-bar .menu-item li a:hover{
    color: #a80000;
}


/********************** head-shape ************************/
.back{
    /* background-image: url(https://www.img.in.th/images/da796d73f3d1193abf7ad21bde5e91e5.png); */
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/* .back .overlay{
    background-image: linear-gradient(rgba(255, 255, 255, 0.733), rgba(180, 180, 180, 0.7),rgba(26, 26, 27, 0.7)),
                url(https://www.img.in.th/images/adf0539f7758adceb5ad7b36df578bfc.png);
    width: 100%;
    height: 100%;
} */
.back .hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.back .hero-shape img{
    width: 100%;
    display: block;
}
@media (max-width: 946px){
    .nav{
        padding: 1rem 1rem;
    }
}
@media (max-width: 774px){
    .nav{
        padding: 0.7rem 1rem;
    }
    .nav .navbar-toggler{
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index:  1000000;
        cursor: pointer;
    }
    .nav .menu-bar {
        position: fixed;
        top: 55px;
        width: 300px;
        right: -360px;
        height: 100vh;
        background-color: rgba(256, 256, 256,0.9);
        transition: all 0.6s ease;
    }
    .nav .menu-bar .menu-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-item li{
        margin: 2rem 30px;
    }
}

  /* footer */
  footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 50px 30px;
    color: #fff;
    background-color: #2e2e2e;
    margin-top: 300px;
    
  }
  .footer > *{
    flex: 1 100%;
  }
  .footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  .footer-logo {
    width: 60%;
  }
  .footer-socotec{
    width: 55%;
    margin: 15px;
  }
  .footer ul{
    list-style: none;
    padding-left: 0;
  }
  .footer li{
    line-height: 2em;
  }
  .footer a{
    text-decoration: none;
  }
  .footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
  }
  .footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
  }
  .box a{
    color: #999;
  }
  .footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 30px;
  }
  
 
  
  /* TOP */
  #back-top {
    position: fixed;
    bottom: 15px;
    right: 20px;
  }
  
  #back-top a {
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-weight:bold;
    opacity: 0.9;
  
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #back-top a:hover {
    color: #000;
  }
  
  /* arrow icon (span tag) */
  #back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    margin-left: 5px;
    background: #ddd url(up-arrow.png) no-repeat center center;
  
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #back-top a:hover span {
    background-color: #3d3d3d;
  }
  #back-top img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  }



  .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    top: 100px;
  }
  .content .textbox{
    position: relative;
    max-width: 700px;
    left: 2%;
  }
  .content .textbox h1{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
  }
  .content .textbox h1 span{
    color: #b31409;
    font-size: 1.2em;
    font-weight: 900;
  }
  .content .textbox p{
    color: #333;
  }
  .content .imgBox{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
  .content .imgBox img{
    width: 400px;
    height: 300px;
  }
  .thumb{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: flex;
  }
  .thumb li{
    list-style: none;
    display:  inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .thumb li:hover{
    transform: translateY(-15%);
  }
  .thumb li img{
    max-width: 70px;
  }
  .thumb .marine img{
    max-width: 94px;
  }
  .thumb li .imgSlider{
    width: 400px;
    height: 400px;
    }
  .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f7d200;
    clip-path: circle(600px at right 800px);
    z-index: -5;
  }
  

  /* responsive */
  @media(max-width: 1280px){
    footer{
      margin-top: 255px;
    }
  }
  @media(max-width: 1150px){
    .content{
      flex-direction : column;
      display: grid;
    }
    .content .imgBox{
      margin-top: -306px;
      margin-left: 332px;
      width: 100%;
    }
    .circle{
      clip-path: circle(30% at right);
    }
    .circle {
      top: 0px;
      left: 0px;
      clip-path: circle(600px at right 800px);
  }
    .content .imgBox img{
      max-width: 70%;
    }
    .thumb{
      left: 50%;
      bottom: 40px;
    }
    footer {
      margin-top: 270px;
  }
  .content .textbox {
    max-width: 686px;
    margin-top: 20px;
}
  }


  @media(max-width: 1100px){
    .content .textbox h1 {
      font-size: 3.5em;
  }
    .content .imgBox{
      margin-left: 300px;
    }
    .content .imgBox img{
      max-width: 70%;
    }
    .content .textbox {
      max-width: 650px;
      margin-top: 20px;
  }
  }

  @media(max-width: 1050px){
    .content .imgBox{
      margin-top: -280px;
      margin-left: 290px;
    }
    .content .imgBox img{
      max-width: 60%;
    }
    .content .textbox {
      max-width: 640px;
  }
  }

  @media(max-width: 1020px){
    .content .textbox h1 {
      font-size: 3.2em;
  }
  .content .textbox p {
    font-size: 16px;
    width: 600px;
}
    .content .imgBox{
      margin-left: 280px;
    }
    .content .imgBox img {
      width: 380px;
      height: 280px;
  }
    .thumb{
      left: 50%;
      bottom: 40px;
    }
    .content .textbox {
      max-width: 630px;
      margin-top: 20px;
  }
  }

  @media(max-width: 950px){
    .content{
      flex-direction : column;
    }
    
    .text h2{
        font-size: 3em;
    }
    .content .imgBox img {
      width: 350px;
      height: 250px;
  }
  .circle{
    clip-path: circle(30% at right);
  }
  .circle {
    top: 0px;
    left: 0px;
    clip-path: circle(500px at right 700px);
}
  }

  @media (max-width:999px){
    .content .textbox h1 {
      font-size: 3.0em;
  }
  .content .textbox p {
    width: 550px;
}
.content .imgBox{
  margin-top: -280px;
  margin-left: 250px;
  width: 100%;
}
    .text h2{
        font-size: 3em;
    }
    .content .imgBox img {
      width: 350px;
      height: 250px;
  }
  .content .textbox {
    max-width: 550px;
    margin-top: 20px;
}
  }


  @media (max-width:899px){
    .content .textbox h1 {
      font-size: 2.6em;
  }
  .content .textbox p {
    width: 500px;
}
.content .imgBox{
  margin-left: 200px;
}
.thumb{
  left: 50%;
  bottom: 80px;
}
  }


  @media (max-width:799px){
    .content .textbox h1 {
      font-size: 3.2em;
  }
  .content .textbox p {
    width: 600px;
}
.content .imgBox {
  margin-top: 0px;
  margin-left: -50px;
  width: 100%;
}
    .content .imgBox img {
      width: 380px;
      height: 280px;
  }
  .content .textbox {
    max-width: 680px;
    margin-top: -20px;
    margin-left: 3%;
}
.circle {
  top: 160px;
  left: 0px;
  clip-path: circle(600px at right 800px);
}
.thumb{
  left: 50%;
  bottom: -140px;
}
footer {
    margin-top: 200px;
}
  }
  @media (max-width:699px){
  .content .textbox p {
    width: 550px;
}
.content .imgBox {
  margin-top: 10px;
  margin-left: -70px;
  width: 100%;
}
  .content .textbox {
    max-width: 600px;
    margin-top: -20px;
    margin-left: 3%;
}
  }
  
  @media (max-width:599px){
    .content .textbox h1 {
      font-size: 2.8em;

  }
  .content .textbox p {
    width: 500px;
}
    .content .imgBox img {
      width: 350px;
      height: 250px;
  }
  .content .textbox {
    max-width: 590px;
    margin-top: -20px;
    margin-left: 3%;
}
.thumb{
  left: 50%;
  bottom: -100px;
}
  }
  
  @media(min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
  }
  @media(max-width: 600px){
    .footer{
        padding: 15px;
    }
    footer {
      margin-top: 200px;
  }
  }


  @media (max-width:499px){
    .content .textbox h1 {
      font-size: 2.2em;

  }
  .content .textbox p {
    font-size: 14px;
    width: 450px;
}
.content .imgBox {
  margin-top: 10px;
  margin-left: -50px;
  width: 100%;
}
    .text h2{
        font-size: 3em;
    }
    .content .imgBox img {
      width: 300px;
      height: 200px;
  }
  .content .textbox {
    max-width: 450px;
    margin-top: -20px;
    margin-left: 1%;
}
.circle {
  top: 160px;
  left: 0px;
  clip-path: circle(500px at right 700px);
}
.thumb{
  left: 50%;
  bottom: -30px;
}
footer {
    margin-top: 220px;
}
  }
  

  @media (max-width:450px){
    .content .textbox h1 {
      font-size: 2.2em;

  }
  .content .textbox p {
    font-size: 14px;
    width: 400px;
}
    .content .imgBox img {
      width: 300px;
      height: 200px;
  }
  }

  @media (max-width:399px){
    .content .textbox h1 {
      font-size: 2em;

  }
  .content .textbox p {
    width: 350px;
}
.content .imgBox {
  margin-left: -60px;
}
    .content .imgBox img {
      width: 500px;
      height: 200px;
  }
  .content .textbox {
    max-width: 350px;
}
.circle {
  clip-path: circle(400px at right 600px);
}
.thumb{
  left: 50%;
  bottom: -20px;
}
footer{
  margin-top: 200px;
}
  }
  
  @media (max-width:299px){
    .content .textbox h1 {
      font-size: 1.5em;

  }
  .content .textbox p {
    width: 280px;
}
    .content .imgBox img {
      width: 300px;
      height: 200px;
  }
  .content .textbox {
    max-width: 280px;
}
.thumb{
  left: 50%;
  bottom: -20px;
}
.thumb li {
  margin: 0 10px;
}
  }
  
  
  