@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&diaplay=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
   }
*:before,*:after{
    box-sizing: border-box;
}

body{
    display: grid;
    margin: 0;
  width: 100%;
  }

.header{
    min-height:90vh;
    position: absolute;
    padding: 40px;
    right: 0;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: .5s ease;
}

/* nav */
a{
  text-decoration: none;
}
li{
  list-style: none;
}
h3{
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}
h6{
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  margin-top: 16px;
  font-weight: normal;
}

/********************** nav ************************/
.nav{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 6.5rem;
  background: transparent;
  transition: all 0.5s ease;
  z-index: 100000;
}
.nav.scrolled{
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-sizing: 7px 10px 15px rgba(0,0,0,0.3);
}
.nav .navbar-toggler{
  display: none;
  border: none;
  outline: none;
}
.nav .navbar-toggler .toggler-icon{
  width: 27px;
  height: 3px;
  background-color: #121212;
  margin: 5px 0;
  position: relative;
  display: block;
  transition: all 0.3s ease-out 0s;
}
.nav .menu-bar .menu-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .menu-bar .menu-item li{
  margin: 0 15px;
}
.nav .menu-bar .menu-item li a{
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.nav .menu-bar .menu-item li a:hover{
  color: #a80000;
}


/********************** head-shape ************************/
.back{
  width: 100%;
  height: 0vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
/* .back .overlay{
  background-image: linear-gradient(rgba(175, 175, 175, 0.733), rgba(146, 146, 146, 0.7),rgba(26, 26, 27, 0.7)),
              url(https://cdn.prgloo.com/media/b7924f8487564672bf433e0193057b77.jpg?width=1135&height=960);
  width: 100%;
  height: 100%;
} */
.back .hero-shape{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.back .hero-shape img{
  width: 100%;
  display: block;
}
@media (max-width: 946px){
  .nav{
      padding: 1rem 1rem;
  }
}
@media (max-width: 774px){
  .nav{
      padding: 0.7rem 1rem;
  }
  .nav .navbar-toggler{
      display: block;
      position: absolute;
      top: 26px;
      right: 16px;
      z-index:  1000000;
      cursor: pointer;
  }
  .nav .menu-bar {
      position: fixed;
      top: 55px;
      width: 300px;
      right: -360px;
      height: 100vh;
      background-color: rgba(256, 256, 256,0.9);
      transition: all 0.6s ease;
  }
  .nav .menu-bar .menu-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: justify;
      padding: 40px 0;
  }
  .nav .menu-bar .menu-item li{
      margin: 2rem 30px;
  }
}
/* nav */

/* levelcrossing */
.content{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 60px;
}
.content .textBox{
    max-width: 550px;
    padding-right: 20px;
}
.content .textBox h2{
    color: #333;
    font-size: 3.5em;
    line-height: 1.4em;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.content .textBox p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}
.content .imgBox img {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    margin-top: 50px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    top: 85%;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    width: 90px;
    height: 50px;
}
.thumb li .imgSlider{
  width: 500px;
  height: 300px;

}
/* TOP */
#back-top {
    position: fixed;
    bottom: 15px;
    /*margin-left: -150px;*/
    right: 20px;
  }
  
  #back-top a {
    /*width: 60px;*/
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    /*text-transform: uppercase;*/
    text-decoration: none;
    color: black;
    font-weight:bold;
    opacity: 0.9;
  
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #back-top a:hover {
    color: #000;
  }
  
  /* arrow icon (span tag) */
  #back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
  margin-left: 5px;
    background: #ddd url(up-arrow.png) no-repeat center center;
  
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #back-top a:hover span {
    background-color: #3d3d3d;
  }
  #back-top img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  }
  
  /* footer */
  h2{
    font-weight: 600;
    font-size: 17px;
  }
  footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 50px 30px;
    color: #fff;
    background-color: #2e2e2e;
  }
  .footer > *{
    flex: 1 100%;
  }
  .footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  .footer-logo {
    width: 60%;
  }
  .footer-socotec{
    width: 55%;
    margin: 15px;
  }
  .footer ul{
    list-style: none;
    padding-left: 0;
  }
  .footer li{
    line-height: 2em;
  }
  .footer a{
    text-decoration: none;
  }
  .footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
  }
  .footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
  }
  .box a{
    color: #999;
  }
  .footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 30px;
  }


   /*resposive*/
 @media(max-width: 1100px){
  .nav-links{
      display: none;
  }
  .header img{
    margin-top: 0px;
  }
   :root {
      --primColor: #dcdcdc;
      --secoColor: #555555;
      --cornerRad: 4px;
  }
  
  details {
      position: absolute;
      z-index:9;
      top:20px;
      right:10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
  }
  summary {
      writing-mode: vertical-lr;
      text-align: center;
      padding: 0px 0px;
      width: 23px;
      height: 17px;
      color: rgb(0, 0, 0);
      cursor: pointer;
      user-select: none;
      outline: none;
      transition: transform 200ms ease-in-out 0s;
      position: absolute;
      z-index:9;
      top:0px;
      right:20px;
  }
  summary::before,
  summary::after {
      position: static;
      top: 0;
      left: 0;
  }
  summary::before {
      content: "";
  }
  summary::after {
      content: "III";
      letter-spacing: -1px;
      font-size: 30px;
  }
  summary:hover {
      transform: scale(1.1);
  }
  summary::marker {
      font-size: 0;
  }
  summary::-webkit-details-marker {
      display: none;
  }
  details[open] .menu {
      animation-name: menuAnim;
  }
  details[open] summary::before {
      content: "X";
  }
  details[open] summary::after {
      content: "";
  }
  .menu {
      height: 0;
      width: fit-content;
      border-radius: var(--cornerRad);
      background-color:white;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
      margin-top: 50px;
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      padding: 12px 24px;
      margin: 0 16px;
      color: var(--secoColor);
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      text-decoration: none;
      text-align: center;
      transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
      padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
      border-bottom: none;
  }
  .menu a:hover {
      filter: brightness(200%);
      color: red;
  }
  
  @keyframes menuAnim {
      0% {
        height: 0;
      }
      100% {
        height: 312px;
      }
  }
  @keyframes fadeMe {
      0% {
        opacity: 0.4;
      }
      100% {
        opacity: 0;
      }
  }
  }
  
  
  @media(min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
    .row{
      display: grid;
      grid-row: inherit;
  }
  }