@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&diaplay=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2) ;
}
.logo img{
    width: 25%;
    padding: 0px 20px;
    float: left;
}
